@media screen and (max-width: 760){

    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }
    
    h2{
        font-size: 38px;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
    }
}
